<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="all" href="catalogo.css">
    </head>

    <body>
        <!-- V1 -->
        <div class="catalogo">Catálogo de <%= supermercado.to_s.capitalize %></div>
        <% productos.each do |item| %>
            <div class="rubro">
                <div class="titulos">
                    <% item.titulos.each do |titulo| %>
                        <h<%= titulo.nivel %>><%= titulo.titulo %> </h<%= item.nivel %>>    
                    <% end %>
                </div>
                <div class="productos">
                    <% item.productos.each do |producto| %>
                        <div class="container">
                            <div class="images">
                                <img src="<%=producto.url_imagen%>" />
                            </div>
                            <div class="product">
                                <p><%= producto.id %></p>
                                <h1><%= producto.nombre %></h1>
                                <h2>$<%= "%0.2f" % producto.precio %></h2>
                            </div>
                            <div class="buttons">
                                <button class="add">Comprar</button>
                                <button class="like">♡</button>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
        
        <footer>
            <p>made by <a href="https://codepen.io/juliepark"> julie</a> ♥
        </footer>
    </body>
</html>